@use "../../assets/colors";
@use "../../assets/fonts";
.landingPage__header__container,
.landingPage__body,
.landingPage__aboutUs,
.landingPage__newsletter,
.landingPage__sponsors {
  max-width: 1440px;
  margin: 0 auto;
}

.landingPage__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  align-self: center;

  h1,
  h3 {
    color: colors.$white;
    display: inline;
  }

  h3 {
    text-decoration: underline;
    text-decoration-thickness: 1px;
  }
  .row {
    display: flex;
    align-items: center;
    gap: 20px;
    .arrowRight {
      background-image: url(/assets/landingPage/arrowRight.svg);
      width: 15px;
      height: 33.933px;
    }
  }
}

.landingPage__title.head {
  margin-left: -60px;
}

.landingPage__infoButtonContainer {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 25px 10px;
  .mantine-Button-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .mantine-Button-root {
    width: 25%;
    max-width: 260px;
    height: 80px;

    border-radius: 20px;
    background-color: colors.$white;
    box-shadow: 0px 0px 12px 0px rgba(49, 49, 49, 0.3);
  }
  .mantine-Button-root:last-child {
    h4 {
      color: colors.$white;
    }
    width: 260px;
    height: 80px;

    border-radius: 20px;

    background-color: colors.$green;
    box-shadow: 0px 0px 12px 0px rgba(49, 49, 49, 0.3);
  }
  .mantine-Button-root:last-child:hover {
    background-color: colors.$lightGreen;
  }
}

.landingPage__body {
  display: flex;

  flex-wrap: wrap;
  align-items: stretch;
}

@media (max-width: 1000px) {
  .landingPage__header__container,
  .landingPage__body,
  .landingPage__aboutUs {
    h1 {
      font-size: fonts.$h3;
    }
  }
}

@media (max-width: 800px) {
  .landingPage__infoButtonContainer {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .landingPage__infoButtonContainer {
    .mantine-Button-root {
      padding: 0;
      width: 160px;
    }
    .mantine-Button-root:last-child {
      width: 160px;
      h4 {
        color: black;
      }
      background-color: colors.$white;
    }
    .mantine-Button-root:last-child:hover {
      background-color: colors.$white;
    }
  }
}

@media (max-width: 690px) {
  .landingPage__title {
    .row {
      .arrowRight {
        width: 12px;
        height: 23.633px;
        background-size: cover;
      }
    }
  }
}
