@use "../../assets/colors";

.purchaseForm__container {
  width: 100%;
  height: 800px;
  padding: 19px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
  background-image: url(/assets/ticketPurchase/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
