@use "../assets/colors";

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 520px;
  height: 600px;
  padding: 30px 3% 40px;
  background-color: colors.$white;
  border-radius: 20px;
  box-shadow: 0px 0px 12px 0px rgba(49, 49, 49, 0.3);
  align-items: center;

  h2 {
    text-align: center;
    margin-bottom: 10px;
  }

  h6 {
    color: colors.$mediumGray;
    margin-right: auto;
  }
}

.card.wide {
  width: 600px;
  padding: 30px 60px 40px;
}
