@use "../assets/colors";

.listItem__container {
  width: 100%;
  padding: 9px 16px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
  background-color: colors.$white;
}

.listItem__container.dark {
  background-color: colors.$fadingLightGray;
}

.listItem__container:nth-last-child(2) {
  margin-bottom: 20px;
}

.listItem__container:first-child {
  margin-bottom: 0;
}

@media (max-width: 490px) {
  .listItem__container {
    gap: 10px;
  }
}
