@use "../assets/colors";

.navbar,
.navbar_mobile {
  position: sticky;
  display: flex;
  height: 80px;
  width: 100%;
  z-index: 1;
  background-color: white;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: colors.$darkGray;
  transition: transform 0.2s ease-in-out;
  font-family: "Source Sans 3";
  img {
    height: 60px;
    margin: 0 90px 0 10px;
    cursor: pointer;
  }
}

.navbar {
  justify-content: space-between;
  padding: 10px 10%;

  top: 0;
  left: 0;

  a {
    text-decoration: none;
    color: black;
  }
}

.options {
  align-self: flex-start;
  a {
    margin-left: 40px;
  }
}

.navbar.hide {
  transform: translateY(-100%);
}

nav {
  display: flex;
}

nav.sections {
  flex: 2;
  justify-content: space-between;
  max-width: 800px;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: flex-end;
}

.active {
  font-weight: bold;
}

.navbar_mobile {
  display: none;
}

@media (max-width: 930px) {
  .navbar {
    display: none;
  }
  .navbar_mobile {
    display: flex;

    .navbar__menuButton {
      border: 0;
      margin-left: auto;
      margin-right: 10px;
      width: 24px;
      height: 24px;
      background-image: url(/assets/hamburger_base.svg);
      background-color: transparent;
    }
    .navbar__menuButton.active {
      background-image: url(/assets/hamburger_pressed.svg);
    }
    .navbar__dropDown {
      position: fixed;
      flex-direction: column;
      border: 1px solid gray;
      gap: 5px;
      right: 0;
      top: 80px;
      padding: 10px;
      background-color: white;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      a {
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar_mobile {
    img {
      margin: 0 0 0 10px;
    }
    .navbar__menuButton {
      margin-left: 10px;
    }
    .mantine-Button-root {
      h4 {
        color: colors.$white;
      }
      margin-left: auto;

      border-radius: 20px;

      background-color: colors.$green;
      box-shadow: 0px 0px 12px 0px rgba(49, 49, 49, 0.3);
    }
    .mantine-Button-root:hover {
      background-color: colors.$lightGreen;
    }
  }
}
