@use "./assets/fonts";

h1 {
  color: #000;

  /* Header 1 */
  font-family: Montserrat;
  font-size: fonts.$h1;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}

h2 {
  color: #000;

  /* Header 2 */
  font-family: Montserrat;
  font-size: fonts.$h2;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

h3,
h4,
h5,
h6 {
  font-family: Source Sans Pro;
  font-style: normal;
  line-height: normal;
  color: #000;
}

h3,
h4,
h6 {
  font-weight: 400;
}

h3 {
  font-size: fonts.$h3;
}

h4 {
  font-size: fonts.$h4;
}

h5 {
  font-size: fonts.$h5;
  font-weight: 500;
}

h6 {
  font-size: fonts.$h6;
}

@media (max-width: 870px) {
  h1 {
    font-size: fonts.$h2;
  }
  h2 {
    font-size: fonts.$h3;
    text-align: center;
  }
}
